*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    gap: 20px;
}
.container{
    height: 100vh;
    width: 50%;
     border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

}
.container2{
    height: 100vh;
    width: 50%;
     border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    margin-top: 10px;
    height: 350px;
    width: 500px;
    border: 1px dashed;
    border-radius: 10px;
   background-color: aqua;
   transition: box-shadow 2s ease-in-out, transform 2s ease-in-out;
}

.box:hover{
    box-shadow: 20px 10px 10px rgb(76, 8, 202);
    transform: scale(1.1);
    background-color: blueviolet;
    height: 500px;
    width: 600px;
}
.box2{
    height: 350px;
    width: 500px;
    border: 1px dashed;
    border-radius: 10px;
    transition: background 2s ease-in,  transform 2s ease-in-out;
    /* transition: transform 2s ease-in*/
}
.box2:hover{
    background: linear-gradient(red, blue, violet);
    /* transform: translateX(100px); */
    transform: rotate(90deg);
}

.circle{
    height: 350px;
    width: 350px;
    border: 1px dashed;
    border-radius: 50%;
     background-color: coral;
     animation: bounce 2s infinite;
}
@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(100px);
    }
}
.circle2{
    height: 350px;
    width: 350px;
    border: 1px dashed;
    border-radius: 50%;
    background-color: cornflowerblue;
    animation: FadeIn 5s infinite;
    animation: slide-in 3s infinite;
}

@keyframes FadeIn{
    0%{
       opacity: 0; 
    }
    100%{
        opacity: 1;
    }
}
@keyframes slide-in {
    0%{
        transform: translateX(0px);
    }
    40%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(100px);
    }
    
}

